//blue pallette
$blue-10: #eff7fe;
$blue-20: #039de2;
$blue-30: #dce0ff;
$blue-40: #c9cfff80;
$blue-50: #e3e6ff;
$blue-60: #3367d6;
$blue-70: #4285f4;
$blue-100: #7cb8da;
$blue-200: #03a9f3;
$blue-250: #03a9f30f;
$blue-300: #8c95da;
$blue-400: #c0e6f7;
$blue-500: #5b67ca;
$blue-550: #4952a2;
$blue-600: #323b8c;
$blue-700: #98a2f1;
$blue-800: #58a3ce;
$dark-blue-100: #3f51b5;
$dark-blue: #088ec8;
$light-blue: #a7ade3;

//green pallete
$green-5: #cdede6;
$green-10: #a0d1c6;
$green-20: #7ed286;
$green-50: #08a081;
$green-100: #c8cc07;
$green-150: #e3f6eb;
$green-200: #0ea971;
$green-300: #63c38b;
$green-400: #72d49a;
$green-500: #0ac055;
$green-600: #53c280;
$green-700: #90ca14;
$green-800: #52bf8b;
$green-900: #50bf5b;
$light-green: #72d49a;
$light-green-100: #e5f5f2;
$light-green-200: #c7e8e1;
$light-green-300: #d3f3ec;
$dark-green: #50bea7e5;
$accent-green-60: #50bea7b3;
$accent-green-100: #50bfa8;
$accent-green-200: #348d7a;

//orange
$orange-50: #fae4e0;
$orange-100: #ff9a8b;
$orange-200: #fd7c05;
$orange-300: #f8ab74;
$orange-400: #fca400;
$orange-500: #fd6524;
$light-orange: #ff9213;

//red
$red-10: #ff4343;
$red-40: #fecccc;
$red-50: #ff725e;
$red-100: #ff7b7b;
$red-200: #ffb0a4;
$red-300: #ff9a8a;
$red-400: #ff7474;
$red-500: #ff1616;
$red-600: #e44d4d;
$red-700: #e36161;
$red-800: #e56a6a;
$red-900: #e47474;
$red-950: #f14c4c;
$light-red: #ffdad4;
$light-red-100: #f264641a;
$light-red-50: #f26464;
$dark-red: #ff4729;
$dark-red-10: #b53b33;
$maroon-10: #825432;

//yellow
$yellow-100: #ffcc49;
$yellow-200: #ffc225;
$yellow-300: #ffd441;
$yellow-400: #ffbf42;
$yellow-500: #ffea2c;
$yellow-600: #f2d056;
$light-yellow: #fff6d9;
$dark-yellow: #fbc02d;

//slate
$slate-10: #acacac;
$slate-20: #f5f5f5;
$slate-30: #6d6d6d;
$slate-40: #bfbfbf;
$slate-50: #f2f2f2;
$slate-60: #999999;
$slate-70: #888888;
$slate-80: #f0f0f0;
$slate-100: #fcfcfc;
$slate-200: #efefef;
$slate-300: #f9f9f9;
$slate-400: #f4f4f4;
$slate-500: #707070;
$slate-600: #777777;
$slate-700: #e6e6e6;
$slate-800: #e1e1e1;
$slate-900: #6f6f6f;
$white-50: #dbdbdb;
$dark-50: #292746cc;
$dark-100: #565656;
$dark-200: #333333;
$dark-300: #c4c4c4;
$dark-400: #dddddd;
$dark-500: #eeeeee;
$dark-600: #494949;
$dark-700: #595667;
$dark-800: #130f26;

$input-border: #717171;
$border-light-grey: #cccccc;
$accent-blue-light: #c9cfff;
$pink-600: #f04f89;
$pink-500: #ff7df1;
$purple-100: #eeecf8;
$light-purple: #ad8cef;
$dark-purple: #a87ede;
$purple-400: #c9cef2;
$purple-500: #be7bff;
$bg-secondary: #e5e5e5;
$white: #ffffff;
$black: #000000;
$black-50: #00000080;

//accent colors
$accent-purple: #7d88e7;
$accent-purple-60: #7d88e7b3;
$accent-green: #50bea7;
$accent-aqua: #7dc8e7;
$accent-aqua-60: #7dc8e7b3;
$accent-orange: #ff9a8a;
$accent-orange-60: #ff9a8ab3;
$accent-orange-50: #f8eccf;
$aqua-100: #73d8de;
$aqua-200: #73d0dd;
$aqua-400: #2cb3ff;
$aqua-500: #eceeff;
$accent-green-10: #d5eec4;
$accent-green-20: #cdece6;
$accent-yellow-10: #f9e9b0;
$accent-red-10: #fdd4d4;
$accent-grey-10: #e8e8e8;
$accent-red: #de4b4b;

$blue-10: #daf4ff;
$blue-20: #30bbda;
$navy-50: #7883e9;
$navy-100: #4e3eb2;
$violet-100: #a154bc;
$purple-100: #6f62c8;
$purple-200: #8c94dd;
$accent-red-20: #ffd0d0;
$accent-purple-10: #f0f2ff;
$accent-blue-10: #d2f7ff;
$accent-green-10: #ecfae9;
$accent-yellow-20: #fffbd3;
