.top-navbar {
  &.nav {
    background-color: $white;
  }

  ul {
    @extend .d-flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin: 0 20px;
      @extend .text-xl;
      @extend .py-16;

      a {
        @extend .text-dark;

        &.active {
          color: $accent-green !important;
          border-bottom: none;
        }
      }
    }
  }
}